/* generic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 100vw;
}

button {
    border: none;
    background-color: #D65246;
    color: #ffffff;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

button:hover {
    background-color: #f37368;
    color: black;
    cursor: pointer;
}

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    padding: 20px;
}

h3 {
    color: #FFD205;
}

p {
    color: #ffffff;
    line-height: 1.2rem;
}


/* Cabeçalho */
header {
    max-width: 100%;
}
#btn-mobile{
    display: none;
}

.container {
    display: flex;
    background-color: #ffffff;
    color: #000000;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container-img img {
    width: 20%;
}

ul,
a,
li {
    text-decoration: none;
    list-style: none;
}

nav ul {
    display: flex;
    margin-right: 15px;
}

nav ul li {
    margin: 5px;
    padding: 10px;
}

nav ul li a {
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 10px;
}

nav ul li:nth-child(3) {
    border-right: 1px solid #f37368;
}

nav ul li a:hover {
    color: #D65246
}

/* section-banner */
.section-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7a0f05;
    padding: 40px;
}

.container-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-banner h1 {
    font-size: 2em;
    color: #FFD205;
}

.container-banner p {
    font-size: 1.2em;
    color: #f5b8b8;
}

/* section category */
.section-category .section-category--items ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.section-category .section-category--items ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7a0f05;
    width: 200px;
    height: 150px;
    margin: 40px;
    padding: 30px;
}

.section-category--items a {
    background-color: #FFD205;
    color: #ffffff;
    font-weight: bold;
    padding: 20px;
    margin-top: 10px;
}

.section-category--items a:hover {
    background-color: #806a08;
    color: #000000;
}

/* section-populares */
.section-populares, 
.section-city{
    background-color:#f1f1f1;
    box-shadow: rgba(153, 153, 153, 0.459) 1px  4px 5px;
}
.section-populares .section-populares-items2,
.section-populares .section-populares-items1,
.section-populares .section-populares-item3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section-populares li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    box-shadow: #dfdcda 8px 7px 1px;
    margin: 30px;
    padding: 25px;
    width: 25rem;
}


.section-populares li a{
    background-color: #FFD205;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
}
.section-populares li a:hover{
    background-color: #806a08;
    color: #000000;
}

/* section store */
.section-store .section-store-item { 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-store .section-store-item1,
.section-store .section-store-item2,
.section-store .section-store-item3 {
    width: 21.8rem;
}

.section-store .section-store-itemS {
    background-color: #7a0f05;
    box-shadow: #c7c6c6c0 5px 5px 10px;
    margin: 30px;
    padding: 30px;
    line-height: 50px;
}


.section-city .section-city-items ul {
    display: flex;
    justify-content: center;
}

.section-city .section-city-items ul li {
    margin: 30px;
    padding: 20px;
}

.section-city .section-city-items ul li a {
    color: black;
}

.section-city .section-city-items ul li a i {
    margin: 5px;
    color: black;
}

/* footer */
#rodape p,
#rodape a{
    color: #000000;
}
.rodape-finalist{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.rodape-finalist ul li {
    margin: 30px;
}
.rodape-finalist .rodape-redes i{
   margin-top: 20px;
   margin-right: 40px;
   padding: 20px;
}
.rodape-finalist p{
    width: 18.7rem;
}
#rodape span a{
    color:#7a0f05;
    font-weight: bold;
}
